<style>
body {
  background-color: #fdf1ec;
  /* font-family: sans-serif; */
}

.wrapper {
  height: 420px;
  width: 800px;
  margin: 50px auto;
  border-radius: 10px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px; 

}

.product-img img {
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.product-info {
  float: right;
  height: 420px;
  width: 473px;
  border-radius: 0 10px 10px 0px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;

}

.product-text p {
  margin: 0 0 0 38px;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  /* float: right; */
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}


.rate {
        float: left;
        height: 46px;
        padding: 0 10px;
        position: relative;
        left: 7%;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label 
    
    {
        color: #c59b08;
    }
    
    .heading {
        position: relative;
        left: 4%;
        margin-top: 3%;
        color: black;
        font-weight: 700;
    }
    h1 {
      font-family: sans-serif;
    }
</style>
<script>
    function myFunction() {
      document.getElementById("star-form").submit();
    }
    </script>

<!-- <h2 class="heading">Edit this Drama!</h2> -->


    <div class="wrapper">
        <div class="product-img"  style="background-image: url('/images/<%= item.image %>'); background-size: auto; background-position: center;">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1 style="font-family: sans-serif; font-weight: 700; color: black;"><%= item.dramaName%></h1>
            <h2 style="font-family: sans-serif; font-weight: 500; color: black;">Number of Episodes: <%= item.episodeNum%> </h2>
            <p style="font-family: sans-serif; font-weight: 700; color: black; margin-top: -20px;"> Watch Status:</p>
            <p  style="font-family: sans-serif; font-weight: 500; color: black;"><%= item.dramaStatus%></p>
            <p style="font-family: sans-serif; font-weight: 700; color: black;"> Progress:</p>
            <p  style="font-family: sans-serif; font-weight: 500; color: black;"><%= item.progress%></p>

            <p style="font-family: sans-serif; font-weight: 700; color: black; margin-top: 0%;">Rating:</p>
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" <% if(item.rate == 5){%>checked<%}%>/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" <% if(item.rate == 4){%>checked<%}%>/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" <% if(item.rate == 3){%>checked<%}%>/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" <% if(item.rate == 2){%>checked<%}%>/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" <% if(item.rate == 1){%>checked<%}%> />
                <label for="star1" title="text">1 star</label>        
            </div>


        </div>
          
   
            <div class="product-price-btn">
                <!-- <p><span>78</span>$</p> -->
                <a>
                <button type="button" style="background-color: red;  width: 50px; float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </button>
                </a>
                <a  href="/lists/edit?id=<%= item._id%>">
                <button type="button" style="background-color: rgb(40, 40, 46); width: 50px; float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </button>
                </a>
          </div>
        </div>
      </div>
   